%h3 hellobubi monitor

%img{ :src => "http://chart.apis.google.com/chart?chs=250x100&chd=t:#{@up},#{@down}&cht=p3&chl=Up|Down"}

- @targets.keys.each do |target|
  %div
    - if @targets[target]
      %img{ :src => 'green.png' }
    - else 
      %img{ :src => 'red.png' }
    = "#{target.name} (#{target.data})"
  

